.tweet-card {
    margin: auto;
    background-color: #FAC15F;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

.tweet-card-col-2 {
    margin-top: 5px;
}


.tweet-profile-pic {
    display: inline;
    margin: 0 auto;
}

.tweet-content {
    grid-column: col2start / col2end;
}

.tweet-info, .quote-tweet-info {
}

.tweet-info *, .quote-tweet-info * {
    padding-right: 5px;
}

.tweet-info-name {
    font-size: 110%;
    font-weight: 700;
}
.quote-tweet-info-name {
    font-size: 100%;
    font-weight: 700;
}

.tweet-info-details {
    
}
.quote-tweet-info-details {
    
    font-size: 90%;
}

.tweet-text {
    line-height: 150%;
    margin-top: 10px;
}

.tweet-urls {
    margin-top: 10px;
}

.tweet-media {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 300px;
}

.tweet-media-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fit {
    object-fit: contain;
}

.quote-tweet-grid {
    display: grid;
    grid-template-columns: [col1start] 50px [col2start] 1fr [col2dnd];
    border-radius: 10px;
    background-color: lightgray;
    padding: 10px;
}

.microlink_card:hover {
    box-shadow: 1px 1px 0 0 black;
    color: black;
}



