/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* global vars */

:root{
  --aqua: #5D8C87;
  --tan: #BFB3A4;
  --blue: #C7CFD9;
  --red: #BF0404;
  --brown: #736356;
  --large-border-radius: 10px;
  --small-border-radius: 3px;
}


body {
  margin-top: 0;
  font-family: itc-american-typewriter, monospace;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg {
  margin: 0;
  width: 100%;
  top: 0;
  background-color: var(--aqua);
}

.paper {
  width: 80%;
  margin-top: 5%;
  margin-right: 10%;
  margin-left: 10%;
  background-color: var(--blue);
}

.content-wrapper {
  margin: 3%;
}

.top-bar {
  width: 100%;
  display: flex;
  margin: auto;
  margin-top: 15px;
}

h1 {
  color: black;
  font-size: 200%;
  font-weight: 500;
  display: inline-block;
}

h2 {
  color: var(--red);
  font-size: 110%;
  display: inline-block;
}

pre {
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

h3 {
}

a {
  text-decoration: none;
  color: var(--dark-bg);
  background-color: var(--red);
  padding: 5px;
  border-radius: var(--small-border-radius);
}
a:focus {
  outline: none;
}
a:hover {
  background-color: var(--dark-bg);
  color: var(--red);
  border: 1px solid var(--red);
}

.word-drag {
  background-color: var(--tan);
  color: black;
  line-height: 150%;
  padding-top: 0;
  white-space: nowrap;
  width: min-content;
  cursor: pointer;
}

.author-drag {
  background-color: var(--dark-bg);
  color: var(--tan);
  border: 1px solid var(--red);
  border-radius: var(--small-border-radius);
  line-height: 150%;
  padding: 5px;
  white-space: nowrap;
  width: calc(100% - 20px);
  cursor: pointer;
}

.author-blank {
  border: .5px solid var(--red);
  border-radius: var(--small-border-radius);
  padding: 5px;
  height: 110px;
}

.tweet-blank {
  padding-top: 0;
  margin-top: 2px;
  display: inline-block;
  white-space: nowrap;
  cursor: pointer;
  border-bottom: 1px solid var(--red);
}

/* tweet blank filled styled in WordBlank component */
.tweet-blank-filled {
  border-bottom: 1px solid var(--red);
}

.main-grid {
  width: 90%;
  display: grid;
  grid-template-columns: 58% 37%;
  column-gap: 5%;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 30px;
}

.drag-options-wrapper {
  position: sticky; 
  top: 15px;
  border: 2px solid var(--red);
  border-radius: var(--large-border-radius);
  height: min-content;
  cursor: pointer;
}

.drag-options-container {
  margin: 20px;
  display: grid;
  grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 1fr) minmax(min-content, 1fr) minmax(min-content, 1fr);
  row-gap: 10px;
  column-gap: 10px;
  height: min-content;
  color: var(--tan);
}

.double {
  grid-template-columns: 50% 50%;
}

.twitter-login-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.twitter-login-button {
  display: inline-block;
  margin: auto;
  padding: 10px;
  color: var(--tan);
  background-color: rgba(0,0,0,0);
  box-shadow: 2px 2px 0 0 var(--red);
  outline: none;
  border:none;
  font-weight: bold;
  font-size: 110%;
}

.twitter-login-button:hover {
  box-shadow: 4px 4px 0 0 var(--red);
}
