/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* global vars */

:root{
  --dark-bg: rgb(48, 39, 40);
  --tan: rgb(187, 197, 182);
  --blue: rgb(79, 177, 211);
  --red: rgb(209, 109, 95);
  --large-border-radius: 10px;
  --small-border-radius: 3px;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  background-color: var(--dark-bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.good-toast {
  padding: 15px;
  display: flex;
  position: fixed;
  border-radius: var(--small-border-radius);
  bottom: 5%;
  left: 50%;
  width: min-content;
  background-color: var(--tan);
  color: var(--dark-bg);
}



.top-bar {
  width: 90%;
  display: grid;
  grid-template-columns: 58% 37%;
  column-gap: 5%;
  margin: auto;
  margin-top: 15px;
}

h1 {
  color: var(--red);
  font-size: 200%;
  font-family: paralucent-stencil, sans-serif;
  display: inline-block;
  align-self: center;
  border-top: 2px dashed var(--blue);
  border-bottom: 2px dashed var(--blue);
  border-radius: var(--large-border-radius);
  padding: 15px;
}

h2 {
  color: var(--red);
  font-size: 110%;
  font-family: paralucent-stencil, sans-serif;
  display: inline-block;
  font-weight: bold;
  align-self: center;
}

pre {
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

h3 {
}

a {
  text-decoration: none;
  color: var(--dark-bg);
  background-color: var(--red);
  font-weight: bold;
  padding: 5px;
  border-radius: var(--small-border-radius);
}
a:focus {
  outline: none;
}
a:hover {
  background-color: var(--dark-bg);
  color: var(--red);
  border: 1px solid var(--red);
}

.word-drag {
  background-color: var(--dark-bg);
  color: var(--tan);
  border: 1px solid var(--red);
  border-radius: var(--small-border-radius);
  line-height: 150%;
  padding: 2px;
  padding-top: 0;
  margin-top: 2px;
  white-space: nowrap;
  width: min-content;
  cursor: pointer;
}

.author-drag {
  background-color: var(--dark-bg);
  color: var(--tan);
  border: 1px solid var(--red);
  border-radius: var(--small-border-radius);
  line-height: 150%;
  padding: 5px;
  white-space: nowrap;
  width: calc(100% - 20px);
  cursor: pointer;
}

.author-blank {
  border: .5px solid var(--red);
  border-radius: var(--small-border-radius);
  padding: 5px;
  height: 110px;
}

.tweet-blank {
  border: .5px solid var(--red);
  padding: 2px;
  padding-top: 0;
  margin-top: 2px;
  display: inline-block;
  border-radius: var(--small-border-radius);
  white-space: nowrap;
  cursor: pointer;
}

.tweet-blank-filled {
}

.main-grid {
  width: 90%;
  display: grid;
  grid-template-columns: 58% 37%;
  column-gap: 5%;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 30px;
}

.drag-options-wrapper {
  position: sticky; 
  top: 15px;
  border: 2px solid var(--red);
  border-radius: var(--large-border-radius);
  height: min-content;
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
}

.drag-options-container {
  margin: 20px;
  display: grid;
  grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 1fr) minmax(min-content, 1fr) minmax(min-content, 1fr);
  row-gap: 10px;
  column-gap: 10px;
  height: min-content;
  color: var(--tan);
}

.double {
  grid-template-columns: 50% 50%;
}

.twitter-login-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.twitter-login-button {
  display: inline-block;
  margin: auto;
  padding: 10px;
  color: var(--tan);
  background-color: rgba(0,0,0,0);
  box-shadow: 2px 2px 0 0 var(--red);
  outline: none;
  border:none;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 110%;
}

.twitter-login-button:hover {
  box-shadow: 4px 4px 0 0 var(--red);
}
